<div class="container-fluid">
  <div class="col-md-4 col-sm-12 offset-md-4">
    <div class="register-box" [formGroup]="registerForm" novalidate>
      <div class="row">
        <div class="col-md-12 justify-content-center flex-box">
          <h3 class="register-heading">Register</h3>
        </div>
      </div>
      <hr class="col-md-6"/>
      <div class="row">
        <div class="col-md-12 justify-content-center flex-box">
          <mat-form-field>
            <input matInput placeholder="Firstname" type="text" formControlName="firstname">
            <mat-error>
            </mat-error>
          </mat-form-field>    
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 justify-content-center flex-box">
          <mat-form-field>
            <input matInput placeholder="Lastname" type="text" formControlName="lastname">
            <mat-error>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 justify-content-center flex-box">
          <mat-form-field>
            <input matInput placeholder="Email" type="email" formControlName="email">
            <mat-error>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 justify-content-center flex-box">
          <mat-form-field>
            <input matInput placeholder="Password" type="password" formControlName="password">
            <mat-error>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 justify-content-center flex-box">
          <button mat-raised-button color="primary" [disabled]="registerForm.invalid" (click)="doRegister()">Register</button>
        </div>
      </div>
    </div>
  </div>
</div>
